.pagination {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  font-size: 16px;
}

.itemClass a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #469fe5;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.itemClass a:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.itemClass a:last-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.activeItemClass {
  border-top-left-radius: 0.25rem;
  background-color: #469fe5;
  color: #ffffff !important;
}
